:root {
    --verde-logo: rgb(0,102,67);
    --verde-decor: rgb(0,160,78);
    --oscuro: rgba(0,0,0,0.40);
    --blanco: #ffffff;
    --hover-nav: rgba(0,102,67,0.1);
}

a { text-decoration: none; }

.catalogo-volver {
    font-size: 0.8rem; color: var(--verde-decor); text-decoration: none; font-weight: bold;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { font-family: 'Segoe UI', sans-serif; overflow: hidden; }

.universo { height: 100vh; overflow-y: scroll; scroll-snap-type: y mandatory; }

/* NAVBAR */
nav {
    position: fixed; top: 0; width: 100%; background: var(--blanco);
    min-height: 90px; display: flex; justify-content: space-between;
    align-items: center; padding: 0 5%; z-index: 1000;
    border-bottom: 5px solid var(--verde-decor);
}

.logo-img { height: 60px; }
.nav-menu { display: flex; list-style: none; }
.nav-menu li { position: relative; }
.nav-menu li a { 
    text-decoration: none; color: var(--verde-logo); font-weight: 700; 
    padding: 35px 15px;
    display: block; font-size: 0.85rem; text-transform: uppercase;
    transition: background 0.3s ease;
}

.nav-menu > li > a:hover {
    background-color: var(--hover-nav);
}

/* nosotros */

#nosotros .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
}

#nosotros .verde-logo {
    font-size: 2.5rem; margin-bottom: 20px;
}

/* empresa mision/vision */

#empresa .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
}


/* Empresa Valores estilos */

#empresa-valores .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
}

#empresa-valores .card-simple {
    background: rgba(0,0,0,0.1);
    border-color: var(--verde-decor);
    color: #01741d;

}

/* Empresa política */

#empresa-politica .container{
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: auto;
}

#empresa-politica .card-simple {
    background: rgba(0,0,0,0.1)
    
}

/* Empresa objetivos */

#empresa-objetivos .container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: auto;
}

#empresa-objetivos li {
    color: #01741d;
    
}

#empresa-objetivos i {
    width: 5px; color: var(--verde-decor);
}

#empresa-objetivos h3 {
    color: var(--verde-decor);
}

#empresa-sostenibilidad .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
}

/* Productos */

#productos-inicio .container { 
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#productos-inicio .logito {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#productos-inicio p {
    color: #01741d; text-align: justify; line-height: 1.6; font-size: small;
}

#productos-inicio .mt-10 {
        color: #0b5501;
        font-size: small;
}

#productos-inicio a {font-size: 0.9rem;}

#productos-inicio .accordion-item {
    width: 100%; max-width: 800px; margin: 0 auto; text-align: left; background: white; border: 1px solid #ddd; margin-bottom: 10px; border-radius: 8px; overflow: hidden; cursor: pointer; padding: 0;
}

#productos-inicio .accordion-header{
    padding: 5px 20px; display: flex; justify-content: space-between; align-items: center; font-weight: bold; color: var(--verde-logo); background: #f9f9f9; transition: background 0.3s;
    text-decoration: none;
}

#productos-inicio .catalogo-volver {
    font-size: 2rem; color: var(--verde-decor); text-decoration: none; font-weight: bold;
}

#productos-inicio .catalogo-volver a {
    background-color: yellowgreen;
}

/* DROPDOWNS */
.dropdown-content { 
    display: none; position: absolute; background: white; min-width: 220px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); border-top: 3px solid var(--verde-decor); 
    list-style: none; left: 0; top: 100%;
}
/* escritorio: hover */
.dropdown:hover .dropdown-content { display: block; }

.dropdown-content li a { 
    text-transform: none; border-bottom: 1px solid #eee; 
    padding: 12px 20px; color: #333; text-decoration: none; 
    display: block; transition: all 0.3s ease;
}

.accordion-item { padding: 0;
}

.accordion-item a {
    color: #01741d; text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: var(--verde-logo); color: white; padding-left: 30px;
}

.text-white { font-size: 1.2rem;}

/* SECCIONES */
.pagina { min-height: 100vh; width: 100%; scroll-snap-align: start; display: flex; justify-content: center; align-items: center; padding: 120px 10% 40px 10%; text-align: center; }
.section-bg { background-image: linear-gradient(var(--oscuro), var(--oscuro)), url('images/fondos/mixer_planta.jpg'); background-size: cover; background-position: center; background-attachment: fixed; color: white; }
.section-bg-alt { background-image: linear-gradient(var(--oscuro), var(--oscuro)), url('images/fondos/mixer_construccion01.jpg'); background-size: cover; background-position: center; background-attachment: fixed; color: white; }
.pagina-clara { background: white; color: #333; }
.container { width: 100%; max-width: 1200px; }

h1 { font-size: 3.1rem; border-left: 10px solid var(--verde-decor); padding-left: 20px; text-align: left; }
h2 { font-size: 1.1rem; }
.verde-decor { color: var(--verde-decor); }
.verde-logo { color: var(--verde-decor); font-size: 1.4rem;}
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 10px; }
.mb-10 { margin-bottom: 10px; }
.text-left { text-align: left; }
.text-justify { text-align: justify; line-height: 1.6; }
.slogan-text { color: #fdfcfc; text-align: left; margin-top: 10px; font-size: 1.5rem; font-weight: bold; }

/* GRIDS */
.grid-2 { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; }
.grid-3 { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 20px; }

.card-simple { padding: 15px; border-radius: 15px; border: 1px solid #015a14; background: rgba(0,0,0,0.1); }
.card-simple.dark { background: rgba(0, 0, 0, 0.32); border-color: rgb(255, 255, 255); color: white; }
.card-simple ul { list-style: none; margin-top: 10px; }
.card-simple li { padding: 5px 0; border-bottom: 1px solid #ffffff; }
.card-simple h3 { color: var(--verde-decor); margin-bottom: 3px; }
.card-simple p { color: #ffffff; text-align: justify; line-height: 1.6; font-size: small;}

/* LISTAS DE CHECK */
.lista-check { list-style: none; text-align: left; }
.lista-check li { display: flex; align-items: center; gap: 10px; padding: 8px 0; }
.lista-check i { color: var(--verde-decor); }

/* LISTAS DE PUNTOS */
.lista-puntos { list-style: none; text-align: left; }
.lista-puntos li { display: flex; align-items: start; gap: 10px; padding: 8px 0; }
.lista-puntos i { color: var(--verde-decor); margin-top: 5px; }

/* Empresa Valores */

#empresa-valores p { color: #042200; text-align: justify; line-height: 1.6; font-size: small; }
#empresa-valores h2 { font-size: 1.2rem;}
#empresa-valores h3 { font-size: 1rem; }
#empresa-valores .container { display: flex; flex-direction: column; align-items: center; padding-bottom: 100px;}

/* Empresa objetivos */
#empresa-objetivos .container { display: flex; flex-direction: column; align-items: center; padding-bottom: 100px;}

/* Productos */

#productos-inicio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productos-inicio .card-simple {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-items: center;
}

#productos-inicio .card-simple .logito {
    padding: 5px;
}

#productos-concretos {
    display: flex;
    flex-direction: column;
    padding-top: 10em;
}

#productos-concretos .container { 
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: auto;
    justify-content: center;
    padding-top: 0%;
    align-items: center;
}



#productos-concretos .card-simple {
    padding: 10px;
    font-size: small;
} 

#productos-arenas .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#productos-triturados .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}


#productos-recebos .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#productos-especiales .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#servicios .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#productos-arenas li { color: #01741d; }
#productos-recebos li { color: #01741d; }
#servicios li { color: #01741d; }
#productos-inicio .card-simple p {
    color: #01741d; text-align: justify; line-height: 1.6; font-size: small;
}
#productos-inicio .logito {
        width: 30px;
        padding: 0px;
        color: var(--verde-decor);
    }

/* ACCORDION PRODUCTOS */
.accordion { width: 100%; max-width: 800px; margin: 0 auto; text-align: left; }
.accordion-item { background: white; border: 1px solid #ddd; margin-bottom: 10px; border-radius: 8px; overflow: hidden; cursor: pointer; }
.accordion-header { padding: 15px 20px; display: flex; justify-content: space-between; align-items: center; font-weight: bold; color: var(--verde-logo); background: #f9f9f9; transition: background 0.3s; }
.accordion-header:hover { background: var(--hover-nav); }
.accordion-content { display: none; padding: 0 20px; background: white; color: #333; }
.accordion-content ul { list-style: none; padding: 10px 0; }
.accordion-content li { padding: 8px 0; border-bottom: 1px solid #eee; }
.accordion-item:focus .accordion-content { display: block; }
.accordion-item:focus .accordion-header { background: var(--hover-nav); }
#productos-concretos p { padding: 5px 20px; color: #ffffff; text-align: left; }

/* SWIPERSLIDER DE PROYECTOS */

#proyectos .container-gallery {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#proyectos { 
    background: #2a9b5b;
    background: linear-gradient(0deg,rgba(42, 155, 91, 1) 0%, rgba(87, 199, 133, 1) 5%, rgba(250, 232, 205, 1) 33%, rgba(255, 255, 255, 1) 100%);
}    
.container-gallery {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px;
}

.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.swiper h3 {
    color: white; text-align: center; margin-top: 0px;
    background-color: #2a9b5b;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 355px;
  background-color: rgb(1, 155, 103);
  border-radius: 18px;
}

.swiper-slide .btn-proyecto {
    background-color: var(--verde-decor);
    color: white; border: none; padding: 10px 10px;
    border-radius: 18px; cursor: pointer; font-size: 1rem;
    transition: background 0.3s;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 15px;
}

/* boton para volver al catalogo */

.catalogo-volver{
    font-size: 1.5rem; color: var(--verde-decor); text-decoration: none; font-weight: bold;
}

#productos-especiales a {
    text-decoration: none;
}

.logito {
    color: var(--verde-decor);
    
}

/* SECCION DE PAGOS*/

#pagos .container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#pagos .card-simple {
    padding: auto;
    object-fit: cover;
    min-width: 100px;
}

/* BOTÓN PAGOS */
.btn-pago {
    background-color: var(--verde-decor);
    color: white; border: none; padding: 15px 30px;
    border-radius: 25px; cursor: pointer; font-size: 1.2rem;
    transition: background 0.3s;
}
.btn-pago:hover { background-color: var(--verde-logo); }

#pagos p{
    color: #0b5501; text-align: center; line-height: 1.6; font-size: small;
}

/* formulario de contacto */

#contacto .container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: auto;
    justify-content: center;
}

#contacto .card-simple.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 200px;
    
}
#contacto p {
    font-size: small; color: #ffffff; text-align: center; line-height: 1.6;
}

#contacto .submit {
    background-color: var(--verde-decor);
    color: white; border: none; padding: 15px 30px;
    border-radius: 25px; cursor: pointer; font-size: 1.2rem;
    transition: background 0.3s;
}
form {
    width: 85%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007c42;
    padding: 5px;
    border-radius: 10px;
    min-width: fit-content;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #138d38;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #106b02;
}

/* MODAL MEJORADO */
.modal {
    position: fixed; 
    z-index: 2000; /* Por encima del nav */
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    pointer-events: none;


    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}

.modal .modal-title {
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0;
}

.modal:target {
    --opacity: 1;
    --pointer: unset;
}

.modal-container { 
    
    padding: 10px; 
    text-align: center;
    width: 100%; 
    max-width: 1400px;
    min-height: 750px;
    border: 5px solid white; 
    border-radius: 10px;
    background-color: #2a9b5b;
    padding: 0.2em 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    place-items: center;
    grid-auto-columns: 100%;
    overflow: hidden;
}

.modal:target .modal-container {
    animation: show 1s;
}

.modal-title { 
    display: flex;
    text-align: justify;
    color: white; 
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}
.modal-image { 
    width: 100%; 
    border-radius: 10px; 
    max-height: 90\\100vh;
    object-fit: cover;
    display: block;
    border: 1px solid white;
}
.modal-description { 
    color: white; 
    text-align: justify; 
    line-height: 1.6 ; 
    font-size: 1rem; 
}


.close-modal {
    position: absolute; 
    top: 10px; 
    right: 10px;
    color: white;
    font-size: 30px; 
    cursor: pointer; 
    transition: color 0.3s;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20%;
    background-color: #042200;
}

.close-modal:hover {
    color: var(--verde-decor);
    background-color: white;
}

.modal-show {
    opacity: 1;
    pointer-events: unset;
}

.modal-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    transition: background 0.3s;
}

.modal-nav:hover {
    background: #007a33; /* El verde de Concrec-ER */
}

.prev { left: 10px; }
.next { right: 10px; }

/* Ocultar flechas en móviles si estorban */
@media (max-width: 600px) {
    .modal-nav { padding: 10px; font-size: 18px; }
}

/* OTROS ESTILOS (Accordion, Form, etc. mantenidos según tu archivo original) */
.accordion-content { display: none; padding: 10px 20px; }
form { width: 100%; max-width: 550px; margin: 0 auto; background: rgba(0,0,0,0.5); padding: 20px; border-radius: 10px; }
input, textarea { width: 100%; margin-bottom: 10px; padding: 8px; }



/* MOBILE */
@media (max-width: 768px) {
    nav { flex-direction: column; height: auto; padding: 10px 0; }
    .nav-menu { width: 100%; justify-content: center; flex-wrap: wrap; }
    .nav-menu li a { padding: 10px; font-size: 0.7rem; }
    
    .dropdown-content { 
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
        border-top: 3px solid var(--verde-decor);
        display: none; 
        background-color: white;
        z-index: 1001;
    }
    
    .dropdown:focus .dropdown-content { display: block; }
    
    .dropdown-content li a {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #eee;
        color: #333;
    }
    
    .pagina { padding-top: 180px; }
    h1 { font-size: 2.2rem; }
    h2 { font-size: 1.8rem; }
    
    /* Ajuste para tarjetas móviles */
    .grid-3 { grid-template-columns: 1fr; gap: 8px; }
    .card-simple { padding: 20px; }
    
}
@media screen and (max-width: 768px) {
    .grid-3 p { 
        display: none!important;
    }

    #productos-inicio .card-simple {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0%;
        justify-content: center;
        align-items: center;
        border-color: #029421;
        padding-left: 5px;
        padding-top: 5px;
    }

    #productos-inicio .card-simple {
        display: flex;
        flex-direction: column;
        padding: 2px;
        justify-items: center;
    }

    #productos-inicio .card-simple p {
        padding: 0;
        color: #094d00; text-align: justify; line-height: 1.6; font-size: small;
        font-size: 0.9rem;
    }

    



    #productos-inicio .card-simple h2 {
        font-size: 1.2rem;
    }

    #productos-inicio .parrafo {
        display: none!important;
        color: #0b5501; text-align: justify; line-height: 1.6; font-size: small;
    }
    #productos-inicio .logito {
        width: 30px;
        padding: 0px;
        color: var(--verde-decor);
    }
    #productos-inicio .mt-10 {
        color: #0b5501;
        font-size: 1rem;
        padding: 0px;
    }

    #productos-inicio .mt-20 {
        display: flex;
        flex-direction: column;
    
    }

    #productos-inicio .mt-20 p {
        display: none!important;
    }
    #empresa-politica ul {
        font-size: small;
    } 
    #empresa-politica .card-simple {
        margin-bottom: 100px;
        padding: 0%;
    }
    #empresa-politica p {
        display: none!important;
    }
    #empresa-objetivos li {
        font-size: small;
    }
    #empresa-sostenibilidad p {
        display: none!important;
    }
    #contacto form {
        padding: 5px;
        width: 95%;
    }
    #contacto .card-simple.dark {
        margin-bottom: 10px;
        font-size: 0.6rem;
    }
    .modal-image { 
        padding: 0;
        width: 1100px;
        object-fit: cover;
        border-radius: 10px; 
        object-position: center;  
    }

    .modal .modal-title {
        font-size: 1rem;
    }

    #empresa-valores .card-simple {
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }
    #empresa-valores h3{
        font-size: small;
    }
    #empresa-valores .grid-3 { 
        display: flex; 
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center; 
    }
    #servicios .card-simple {
        padding: 5px;
        font-size: small;
    }
        
        
}
